// $orange: #f39c12;
// $orange: #ff8700;
// $orange: #ffaf00;
// $orange: #cc8400;
$orange: #996300;
$white: #fff;
$black: #111;
$teal: #1abc9c;

// $font-color: #f1c40f;
$font-color: $orange;
$highlight-color: #ffa500;

$border-color: #CCC;

$success-color: #27ae60;
$success-background-color: lighten($success-color, 50%);

$error-color: #c0392b;
$error-background-color: lighten($error-color, 50%);

$info-color: #3498db;
$info-background-color: lighten($info-color, 40%);
