$orange: #e67e22;
$white: #fff;
$font-color: #333;

$border-color: #CCC;

$success-color: #27ae60;
$success-background-color: lighten($success-color, 50%);

$error-color: #c0392b;
$error-background-color: lighten($error-color, 50%);

$info-color: #3498db;
$info-background-color: lighten($info-color, 40%);
