@import "colors";
@import "typography";
@import "flash";
@import "stories";
@import "story";
@import "form";
@import "header";

body {
  background: $black;
}

.terminal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .terminal-screen {
    max-width: 80%;
    min-width: 30em;
  }
}

.box {
  border: 1px solid $orange;
  padding: 1.4em;
  h1 {
    text-align: center;
  }
  input[type=submit] {
    margin-top: 2em;
  }
}