@import "colors";

.form-group {
  margin-bottom: 1.4em;
}

label {
  font-weight: normal;
  font-size: 0.8em;
}

input[type=text], input[type=password] {
  background: $black;
  border: 1px solid $black;
  border-bottom: 1px solid $font-color;
  border-radius: 0px;
  font-size: 1.4em;
  padding: 1em 0.2em;
  color: $font-color;
  font-weight: bold;
  &:focus {
    box-shadow: none;
    border: 1px solid $highlight-color;
    color: $highlight-color;
  }
}

textarea {
  background: $black;
  display: block;
  width: 100%;
  border: 1px solid $orange;
  min-height: 10em;
  padding: 0.4em;
  &:focus {
    box-shadow: none;
    border: 1px solid $highlight-color;
    color: $highlight-color;
    outline: none;
  }
}