@import "colors";

label {
  font-weight: normal;
  font-size: 0.8em;
}

input[type=text], input[type=password] {
  background: $black;
  border-width: 0px;
  border-bottom: 1px solid $font-color;
  border-radius: 0px;
  font-size: 1.4em;
  padding: 1em 0.2em;
  color: $font-color;
  font-weight: bold;
  &:focus {
    box-shadow: none;
    border-color: $orange;
    border: 1px solid $font-color;
  }
}