@import "colors";

#header {
  background: $black;
  border-width: 0px;
  border-bottom: 2px solid $orange;
  .brand {
    font-family: "Lobster Two";
  }
  a {
    text-decoration: none;
    color: $font-color;
    cursor: pointer;
    margin: 0.2em;
    border-radius: 0px;
    transition: background 0.4s, color 0.4s;
    &:hover {
      background: $highlight-color;
      color: $black;
    }
  }
}