#story {
  #comments {
    margin-left: -3em;
    margin-top: 1em;
  }
  form#add_comment_to_story {
    margin-top: 1em;
    input[type=submit] {
      margin-top: 1em;
    }
  }
  .story-comment {
    margin-left: 3em;
    animation: commentIn 1s;
    .comment-author {
      font-weight: 700;
    }
    .reply-to-form {
      animation: replyFormIn 0.4s;
    }
    form {
      margin-bottom: 1em;
      input[type=submit] {
        margin-top: 0.4em;
      }
    }
    .reply-to-form {
      display: none;
    }
    .-reply-to {
      cursor: pointer;
    }
    .-reply-to:target {
      background: red;
    }
  }
}

@-webkit-keyframes commentIn {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(0%);
  }
}
@keyframes commentIn {
  0% {
    transform-origin: 0 0;
    transform: translateY(100%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateY(0%);
  }
}

@-webkit-keyframes replyFormIn {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(-100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(0%);
  }
}
@keyframes replyFormIn {
  0% {
    transform-origin: 0 0;
    transform: translateX(-100%);
  }

  100% {
    transform-origin: 0 0;
    transform: translateX(0%);
  }
}