<ul id="stories">
  <%= for story <- @stories do %>
  <li class="story">
    <a href="/stories/<%= story.id %>">
      <span class="title">
        <%= story.title %>
      </span>
      <small>
        submitted by <%= story.author.display_name %> ( <%= story.submission_date %> )
      </small>
    </a>
  </li>
  <% end %>
</ul>