<div class="row">
  <%= for story <- @stories do %>
  <div class="row">
    <div class="col-lg-12">
      <%= story.title %> <br>
      <small>submitted by <%= story.author.display_name %> </small>
    </div>
  </div>
  <% end %>
</div>